@model IEnumerable<MVCReviewSiteProj.Models.Review>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Write A Review", "Create")
</p>
<div class="container-fluid">
    <div class="row ">

        @foreach (var item in Model)
        {
            <div class="col-md-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Name: @Html.DisplayFor(model => item.UserName)</h4>
                        <h5>@Html.DisplayFor(model => item.Category.Type)</h5>
                        <h5>@Html.DisplayFor(model => item.BrandName)</h5>
                        <h5>@Html.DisplayFor(model => item.ModelName)</h5>
                        <p>@Html.DisplayFor(model => item.Content)</p>
                        <p><span class="label label-default">@Html.DisplayNameFor(model => model.overAllRate)</span>&nbsp;<strong>@Html.DisplayFor(modelItem => item.overAllRate)</strong></p>
                        <p> @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary", role = "button" })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

